.filter {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 100px;
}
.filter-header {
  max-width: 70%;
  margin-bottom: 30px;
}
.filter .categories {
  margin-left: 15px;
}
.filter .sort {
  min-width: 180px;
  margin-right: 20px;
}
.filter .ant-select-selection {
  border-radius: 5px;
}
.categories {
  display: flex;
  justify-content: center;
}
.categories span {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.categories .active {
  background-color: #ff6363;
  color: #fff;
}
.categories span:hover:not(.active) {
  color: #ff6363;
}
.cat-title {
  font-size: 15px;
  font-weight: 700;
}
