.donate-details-container {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}
.donate-details-img {
  width: 60%;
  height: 400px;
}
.donate-details {
  display: flex;
  flex-direction: column;
  margin: 25px;
}
.donate-details-logo {
  width: 100%;
  margin: auto;
}
.donate-details-likes {
}
.donate-details-tags span {
  margin-left: 10px;
}
.donate-details-tags span:first-child {
  margin-left: 0;
}
.donate-details-tags i {
  margin-right: 10px;
  margin-bottom: 20px;
}
.donate-details-tabs {
  margin: 20px 0;
  width: 60%;
}
