.member-side-menu {
  background: white;
  padding: 16px;
  margin-left: 42px;
  margin-right: 16px;
  min-width: 150px;
  // min-height: 350px;
  // max-height: 400px;

  li {
    padding-bottom: 16px;
    &:hover {
      color: purple;
    }
    cursor: pointer;
    list-style-type: none;
  }
}

.member-container {
  display: flex;
}
