.member-side-menu {
  background: white;
  padding: 16px;
  margin-left: 42px;
  margin-right: 16px;
  min-height: 200px;
  max-height: 200px;

  li {
    &:hover {
      color: purple;
    }
    cursor: pointer;
    list-style-type: none;
  }
}

.member-container {
  display: flex;
}
