.earn-section {
  min-width: 35%;
  justify-content: center;
  margin-left: 30px;
  margin-top: 20px;
}

.earn-section-title {
  text-align: center;
  border-top: 5px solid #00ce6f;
  background-color: #fff;
  padding: 5px 0;
}
.earn-section form {
}
.earn-section .ant-input-number {
  width: 100%;
}
.earn-section .ant-radio-group {
  width: 100%;
}
.earn-section .ant-radio-button-wrapper {
  text-align: center;
}
.earn-form-amounts {
  margin-top: 20px;
}
.earn-form-amounts .amounts {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.earn-form-amounts .amounts div {
  height: 70px;
  width: 70px;
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border-radius: 10px;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
  font-size: 18px;
  font-weight: 600;
}
.earn-form-amounts .amounts div span:nth-child(2) {
  font-size: 10px;
}
.earn-form-amounts .amounts div:hover {
  background-color: #ffcca7;
  box-shadow: inset 0px 0px 1px 1px #888888;
}
.earn-form-amounts .amounts div.checked {
  background-color: #ffcca7;
  box-shadow: inset 0px 0px 1px 1px #888888;
}
.earn-form-frequency .ant-radio-button-wrapper {
  width: 50%;
}
.earn-form-paymentMethod .ant-radio-button-wrapper {
  width: 33.33%;
}
.earn-form-button {
  text-align: center;
}
.earn-form-button button {
  width: 50%;
}

#paymentMethod {
  .ant-radio-button-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
