.twitter-share-button {
  background-color: #1890ff;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}
.twitter-share-button:hover {
  color: #fff;
}
.twitter-share-button span {
  margin-left: 3px;
}
