.rss-feeds {
  background: #fff;
  margin-top: 10px;
  padding: 50px;
}

.rss-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rss-card-detail i {
  margin-right: 10px;
}
.rss-card-detail a {
  margin-left: 60px;
}
.rss-card-detail p {
  max-width: 80%;
  text-overflow: ellipsis;
  min-height: 60px;
}

@media only screen and (max-width: 1200px) {
  .rss-card {
    width: 100%;
  }
}
