.featured-charities-container {
  margin-top: 20px;
}
.featured-charities-title {
  padding: 40px 0;
  text-align: center;
}
.featured-charity-card {
  height: 300px;
  display: flex;
  margin-top: 20px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}
.featured-charity-card:hover {
  box-shadow: 4px 5px 9px 0px #888888;
}
.featured-charity-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 50%;
  padding: 30px;
}
.featured-charity-logo {
  width: 10%;
}
.featured-charity-title {
  margin: 20px 0 10px 0;
}
.featured-charity-summary {
  margin-bottom: 20px;
}
.featured-charity-img {
  width: 50%;
}
.featured-charity-socials a {
  margin-right: 20px;
}
.loading-more-btn {
  text-align: center;
  margin-top: 50px;
}
