.fb-share-button {
  background-color: #4267b2;
}
.fb-button-text {
  font-size: 15px;
  background-color: #4267b2;
  color: #fff;
  padding: 5px;
  border-radius: 2px;
}
.fb-button-text i {
  margin-right: 5px;
}
