.app-footer {
  .icon {
    color: black;
    font-size: 30px;
  }
  flex: 1;
  box-sizing: content-box;
  background: white;
  .title {
    margin-bottom: 24px;
    font-size: 20px;
  }
  padding: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo {
    height: 78px;
    width: 78px;
  }
}
.footer-nav {
  display: flex;
  list-style: none;
}
.footer-nav li {
  margin-right: 25px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  .left {
    padding-right: 24px;
  }
  .right,
  .left {
    display: flex;
    flex-direction: column;
  }
}

.connect-with-us,
.explore,
.get-updates {
  display: flex;
  flex-direction: column;
}

.anticon-linkdedin,
.anticon-instagram,
.anticon-twitter,
.anticon-facebook {
  padding-right: 16px;
  padding-bottom: 16px;
}
