.filter {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}
.filter-header {
  max-width: 70%;
  margin-bottom: 30px;
}

.filter .sort {
  min-width: 180px;
  margin-right: 20px;
}
.filter .ant-select-selection {
  border-radius: 5px;
}
.categories {
  display: flex;
  justify-content: center;
  margin: auto;
}
.categories span {
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.categories .active {
  background-color: #ff6363;
  color: #fff;
}
.categories span:hover:not(.active) {
  color: #ff6363;
}
.cat-title {
  font-size: 15px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .filter {
    overflow: scroll;
    box-shadow: inset -2px -1px 3px 0px #ccc;
  }
  .categories {
    min-width: 120%;
  }
}
