body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eaeced !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-empty {
  margin: 0 auto;
}

.ant-modal {
  width: 60% !important;
}

div {
  border-radius: 2px;
}

.href {
  color: #ff6363;
  cursor: pointer;
}

.ant-dropdown-menu-item.active {
  background-color: #fff2f0 !important;
}

// .paypal-button {
//   border-radius: inherit !important;
//   height: 32px !important;
//   border-radius: inherit;
// }
// .paypal-button.paypal-button-color-gold {
//   background-color: #fff !important;
// }
// .paypal-button-text {
//   display: none !important;
// }
.paypal-button-tagline {
  visibility: hidden !important;
}
