.donate-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-header {
  width: 100%;
}
.donate-header.sticky {
  position: fixed;
  top: 60px;
}
.donate-children {
  width: 100%;
  padding: 30px 20px;
}
.donate-children.sticky {
  margin-top: 60px;
}
